/DataAnalysis/DataReading/RISR/data/
/DataAnalysis/DataReading/SD/data/
/DataAnalysis/One-and-One-Half-Hop/out/
/Summer2019Work/Data

/Summer2019Work/March6Event/Data/
/Summer2019Work/March6Event/Processed_data/
/DataAnalysis/One-and-One-Half-Hop/vel_vs_time/out/
/DataAnalysis/DataReading/RISR/data/ras/
